color=true
proxy=null
http-proxy=null
https-proxy=null
registry=https://registry.npmjs.org/
tmp=C:\Users\evyatarg\Documents\Learning\inter tests\starWars\npm_tmp
init-author-name=
init-author-email=
init-author-url=
init-version=1.0.0
init-license=ISC
email=null
always-auth=false
