table{
    text-align: center;
    width: 300px;
    margin: auto;
    border-collapse: collapse;
}

table, th, td {
   border: 1px solid black;
}

.table tr:nth-child(even){background-color: #f2f2f2;}
